@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");


:root{
    --primary-color: #FCD34D;
    
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Dancing Script';
    margin: 0;
}

.header{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

main{
    margin: auto;
    max-width: 600px;
    padding: 1rem;
    
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 20vh;
    margin-top: 2rem;
    padding: 1rem;
    font-family: inherit;
    font-size: larger;
    
}
#translate{
    background-color: var(--primary-color);
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: larger;
    border: none;
}
#output{
  display: block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  min-height: 10vh;
  max-height: 20vh; 
  padding: 1rem; 
  overflow: scroll;
  font-size: larger;
}

footer{
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    height: 20vh;
}

footer p{
    max-width: 600px;
    font-size: larger;
    margin: auto;
    
}